<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">
  <head>
    <title>HouseHold</title>

    <meta charset="utf-8">

    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-4.4.1/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap-4.4.1/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.4.1/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.4.1/bootstrap.min.js' %}"></script> -->

    <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
    <script src="{% static 'js/table_column.js' %}"></script>
    
  </head>
  <body class="bg">
    <h1>Household</h1>
    
    <form method="POST" action="/maker/dbcolumn/" enctype="multipart/form-data">
      {% csrf_token %}

      <h4>---List of tables---</h4>
      <select class="custom-select" id="table_id" name="table_name" onchange="show_table_column(this.value)" required> 
        <option selected>--- Select One ---</option>
        {% for table in tables_name %}
          <option value="{{table}}">{{table}}</option>
        {% endfor %}
      </select>


      <h4>---List of columns---</h4> 
      <select class="custom-select" id="column_id" name="column_name" required> 
        <option selected>--- Select One ---</option>
        
      </select>

      <h4>---Upload xlxs file---</h4>
      <input type="file" id="fileId" name="filename">
      <input type="submit">
    </form>


  </body>
</html>
